---
import stats from '../assets/data/stats.js';
import { getLangFromUrl, useTranslations } from '../i18n/util';
const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang);
---
<div class="developer-bio">
        <h1 class="auto-type"> {t('dev.presentation')}</h1>
        <h2>{t('dev.myself')} </h2>
        <div class="stats-content" data-stats={JSON.stringify(stats)}>
            {
                stats.map(stat => (
                    <div class="stat">
                        <h3 style="font-size: 2rem; color: var(--warn-color); font-weight:bold;">{t(stat.title)}</h3>
                        <p style="font-size: 1.8rem; color: var(--primary-color);">{stat.value}</p>
                    </div>
                ))
            }
        </div>
 </div>


<style>

    @keyframes autoType {
        0% {
            width: 0;
        }
        50% {
            width: 100%; 
        }
        100% {
            width: 0; 
        }
    }

    @keyframes fade-in-up {
        from {
            opacity: 0;
            transform: translateY(50px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .auto-type {
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        border-right: 2px solid #eeeeee; 
        animation: autoType 6s steps(40, end) infinite, blink 0.6s step-end infinite;
    }

    .stats-content {
        display: flex;
        gap: 1rem;
        text-align: center;
        animation: fade-in-up 1s;
    }



    @keyframes blink {
        from, to {
            border-color: transparent;
        }
        50% {
            border-color: #eeeeee;
        }
    }

    .developer-bio {
        width: 50%;
        letter-spacing: 0.8px;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
    }

    h1 {
        font-size: 3.5rem;
        font-weight: 700;
        color: #eeeeee;
    }

    h2 {
        font-size: 3.5rem;
        font-weight: semi-bold;
        color: #393E46;
    }

    @media (max-width: 1366px){
        .stats-content {
            flex-direction: column;
        }

        .developer-bio{
            margin-top: 100px;
        }

        .developer-bio {
            width: 100%;
        }

        
    }

    @media (max-width: 768px) {

        h1 {
            font-size: 2.5rem;
        }

        h2{
            font-size: 2.5rem;
        }


    }

    @media (max-width: 425px) {
        .developer-bio {
            width: 100%;
        }

        .developer-card{
            width: 50%;
        }

        h1 {
            font-size: 2rem;
        }

        h2{
            font-size: 2rem;
        }
    }


</style>
